/target/
.classpath
.project
.springBeans
.factorypath
.settings/
.idea/
logs/
.idea/*
bin
component-tests/node_modules/*
component-tests/tests/acceptance/wdio/utilities/*
src/main/java/com/lbg/ob/healthboard/api/config/LocalEnvDbConfig.java
svrl
*.iml
*.log
*.log.gz
/log/*.log
output/
.DS_Store
